site_name: VR Driving Simulator Documentation
site_url: https://sitename.example
theme:
  name: material
  font: 
    text: Roboto
    code: Red Hat Mono
  logo: assets/car.png
  favicon: assets/car.ico
  features:
    - navigation.footer
    - navigation.expand
    - navigation.top
  palette:
    #Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode
      primary: green
      accent: deep purple

    #Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light Mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  
  
plugins:
  - search

nav:
  - Introduction: index.md
  - Getting Ready: getting-ready.md
  - Features:
    - AR Windshield: ar-windshield.md
    - Weather: weather.md
    - AI Cars: ai-cars.md
    - AI Pedestrians: ai-pedestrian.md
  - Next Steps: codetest.md